/*.color1 {color: #121522;}
  .color2 {color: #12364f;}
  .color3 {color: #146587;}
  .color4 {color: #1da3c8;}
  .color5 {color: #20dad8;} */
body {
  margin: 0;
  padding: 0;
  background: #146587;
  color: #121522;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
  text-align: center;
}
